@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #111827;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-inter);
  --font-serif: var(--font-playfair);
  
  --color-primary: #0B7A3B;
  --color-secondary: #F0FDF4;
  --color-accent: #FACC15;
  
  --animate-marquee: marquee 85s linear infinite;
  
  @keyframes marquee {
    0% { transform: translateX(0%); }
    100% { transform: translateX(-50%); }
  }
}

.animate-marquee:hover {
  animation-play-state: paused;
}

body {
  background: var(--background);
  color: var(--foreground);
}
